.container-meu {

    padding-right: 10%;
    padding-left: 10%;
    text-align: center;

}

.container-rodape {

    padding-right: 0%;
    padding-left: 0%;
    

}

@media screen and (min-width: 1024px) {
    .container-meu {

        padding-right: 25%;
        padding-left: 25%;

    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}

  body {

      background-color: #F2F2F2;

  }

  img {


      border-radius: 1rem;
      text-align: center;

  }

  input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 0.2rem solid #ccc;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    background-color: white;
    background-repeat: no-repeat;
    padding: 0.5rem;

    margin-bottom: 1rem;
    
  }
  
  #linha {


    width: 100%;
    border-bottom: 0.3rem solid #000000;
    padding-bottom: 2rem;

  }